<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.eliaseosmani.retune</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>retune</string>
			</array>
			</dict>
		</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Retune uses your Apple Music library to load playlists and build retuned listening sessions.</string>
</dict>
</plist>
